<!DOCTYPE html>
<html>
<head>
    <title>Cart</title>
</head>
<body>
    <h1>Ваша корзина</h1>
    <ul>
        {% for item in cart_items %}
            <div class="product">
                <p class="cart_product_name">{{item['name']}}</p>
                <p class="cart_product_name">{{item['quantity']}}</p>
                <a href="/not_working">Удалить</a>
            </div>
        {% endfor %}
    </ul>
    <p>{{ total }}</p>
    <a href="/ordering" class="buy">Купить</a>
    <form method="POST" action="/">
        <button class="back">Назад</button>
    </form>
</body>
</html>
